`<div class="container-fluid max-height">
    <h2>{{title}}</h2>
    <br />

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <span>Please select a supported image to upload  (PNG, JPG, TIF)</span>
                <label class="fileUpload btn btn-lg" style="border-color:#007aff">
                    <input type="file" class="upload" (change)="onChange($event)" accept="image/jpeg,image/png,image/tiff,image/tif" />
                    <!--<span>Select Image <i class="fa fa-upload"></i></span>-->
                </label>
            </div>
        </div>
    </div>

    <div class="row max-height">
        <canvas-viewer #canvasViewer [imagePath]="imagePath" [overlays]="overlays" [options]="options"></canvas-viewer>
    </div>
</div>
