`
<h1>Charts</h1>
<div class="container">
    <div class="row" >
        <div class="col-lg-5">
            <chart [options]="options"></chart>
        </div>
        <div class="col-lg-5">
            <chart [options]="chart3Options"></chart>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <chart [options]="pieOptions"></chart>
        </div>
        <div class="col-lg-5">
            <chart [options]="barOptions"></chart>
        </div>
    </div>
    <div class="row">
        <img [attr.src]="imagePath" />
    </div>
</div>

    