<h1>{{title}}</h1>

<div class="menu">
    <div class="row">
        <div class="col-lg-3">
            <a class="home" [routerLink]="['/home']">Home</a>
        </div>
        <div class="col-lg-3">
            <a class="chart" [routerLink]="['/charts']">Charts</a>
        </div>
        <div class="col-lg-3">
            <a class="chart" [routerLink]="['/integration']">API Integration</a>
        </div>
        <div class="col-lg-3">
            <a class="chart" [routerLink]="['/signalR']">Signal R</a>
        </div>
        <div class="col-lg-3">
            <a class="chart" [routerLink]="['/RedisCache']">Redis Cache</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>