<h3>Charts</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-11 text-center">
            <chart [options]="pieOptions"></chart>
        </div>
    </div>
    <h4>My Roles</h4>
    <div class="row">
        <div class="col-md-5"><b>Id</b></div>
        <div class="col-md-5"><b>Name</b></div>
        </div>
    <div class="row" *ngFor="let item of roles">
        <div class="col-md-5">{{item.roleId}}</div>
        <div class="col-md-5">{{item.roleText}}</div>
    </div>
</div>

