<div class="viewer-container">
    <div class="row text-center">
        <div class="btn btn-info" id="resizeButton"  (click)="resizeTo('page')"><i class="glyphicon glyphicon-expand"></i></div>
        <div class="btn btn-info" id="rotateMinusButton" (click)="rotate(-1)" ng-hide="options.controls.disableRotate"><i class="glyphicon glyphicon-arrow-left"></i></div>
        <div class="btn btn-info" id="rotateAddButton" (click)="rotate(1)" ng-hide="options.controls.disableRotate"><i class="glyphicon glyphicon-arrow-right" ></i></div>
        <div class="btn btn-info" (click)="zoom(1)" ng-hide="options.controls.disableZoom"><i class="glyphicon glyphicon-plus" ></i></div>
        <div class="btn btn-info" (click)="zoom(-1)" ng-hide="options.controls.disableZoom"><i class="glyphicon glyphicon-minus"></i></div>
    </div>

    <div class="row max-height">
        <canvas class="viewer" #imageViewer></canvas>
    </div>
</div>