<div class="viewer-container">
    <div class="row text-center">
        <div class="btn btn-info" (click)="resizeTo('page')"><i class="fa fa-file-o"></i></div>
        <div class="btn btn-info" (click)="rotate(-1)" ng-hide="options.controls.disableRotate"><i class="fa fa-rotate-left"></i></div>
        <div class="btn btn-info" (click)="rotate(1)" ng-hide="options.controls.disableRotate"><i class="fa fa-rotate-right"></i></div>
        <div class="btn btn-info" (click)="zoom(-1)" ng-hide="options.controls.disableZoom"><i class="fa fa-search-minus"></i></div>
        <div class="btn btn-info" (click)="zoom(1)" ng-hide="options.controls.disableZoom"><i class="fa fa-search-plus"></i></div>
    </div>

    <div class="row max-height">
        <canvas class="viewer" #imageViewer></canvas>
    </div>
</div>