<div class="row center-block">
    <div class="col-md-4 text-center center-block">
        <div class="panel panel-primary">

            <div class="panel-heading">Login</div>
            <div class="panel-body scroll-list">
                <div class="row">
                    <div class="col-md-3">
                        <label>User Name</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" [(ngModel)]="userName" />
                    </div>
                </div>

                <div class="row" style="margin:5px">
                    <div class="col-md-3">
                        <label>Password</label>
                    </div>
                    <div class="col-md-7">
                        <input type="password" [(ngModel)]="password" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7 center-block">
                        <button (click)="login()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>